[submodule "vendor/rocketpool"]
	path = vendor/rocketpool
	url = https://github.com/rocket-pool/rocketpool
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
