[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
test = "test"
solc = "0.8.24"

# Optimizer settings
optimizer = true
optimizer_runs = 200

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
